.black__btn{
    padding: 15px 28px;
    background-color: $black-color;
    color: $white-color;
    font-weight: 700;
    letter-spacing: -0.25px;
    border-radius: 15px;
    &:hover{
        background-color: $white-color;
        color: $black-color;
        border: 1px solid $black-color;
    }
}
.white__btn{
    background-color: $white-color;
    border: 1px solid $black-color;
    font-weight: 500;
    color: $gray-color;
    letter-spacing: -0.25px;
    border-radius: 15px;
    padding: 13px 22px;
    &:hover{
        background-color: $black-color;
        color: $white-color;
    }
}